ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1000;
}

li {
  float: left;
}

li a {
  display: block;
  color: #5b738c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Butterfly Kids", cursive;
  font-size: 30px;
}

li a:hover,
.active {
  background-color: white;
}

a:link, a:visited {
  background-color: #f1f1f1;
  color: #5b738c;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


